<!-- table -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data Booking</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Invoice</th>
            <th>Item</th> 
            <th>Customer</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <th>#</th>
          <th>Invoice</th>
          <th>Item</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Total</th>
          <th>Status</th>
          <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <% bookings.forEach((booking,i)=> { %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <td>
                <%= booking.invoice %>
              </td>
              <td>
                <%= booking.item.title %>
              </td>
              <td>
                <%= booking.name %>
              </td>
              <td>
                <%= booking.createdAt.toLocaleString('id-ID').split(' ')[0].split('/').join('-') %>
              </td>
              <td>
                <%= new Intl.NumberFormat('en-US', { style: 'currency' , currency: 'USD' }).format(booking.total) %>
              </td>
              <td class="text-center">
                <button class="text-capitalize btn btn-sm <%= booking.status == 'success' ? 'btn-success' : booking.status == 'failed' ? 'btn-danger' : 'btn-warning' %>"><%= booking.status %></button>
              </td>
              <td class="text-center">
               <a href="/booking/<%= booking._id %>" class="btn btn-sm btn-info">Detail</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>