<% include ../../partials/header %>

  <% include ../../partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ../../partials/navbar %>

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <h1 class="h3 text-gray-800">Form Update Bank</h1>
              </div>
              <div class="col-md-6">
                <ol class="breadcrumb bg-transparent d-flex justify-content-md-end">
                  <li class="breadcrumb-item "><a href="/" class="text-decoration-none">Home</a></li>
                  <li class="breadcrumb-item"><a href="/bank" class="text-decoration-none">Bank</a></li>
                  <li class="breadcrumb-item active">Update Bank</li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 card shadow-lg">
                <% if (typeof errors!='undefined' ) { %>
                  <div class="alert alert-danger mb-0 mt-2" role="alert">
                    <% errors.forEach(error=> { %>
                      <p class="m-0 text-black font-weight-bolder">
                        <%= error.msg %> !
                      </p>
                      <% }) %>
                  </div>
                  <% } %>
                    <form class="p-4" action="/bank/<%= bank._id %>?_method=PUT" method="post"
                      enctype="multipart/form-data">
                      <div class="form-group">
                        <label class="text-dark font-weight-bold" for="bankAccountName">Bank Account Holder</label>
                        <input type="text" class="form-control" id="bankAccountName"
                          placeholder="Please Input Bank Account Holder" name="bankAccountName"
                          value="<%= bank.bankAccountName %>" required>
                      </div>
                      <div class="form-group">
                        <label class="text-dark font-weight-bold" for="name">Name Bank</label>
                        <input type="text" class="form-control" id="name"
                          placeholder="Please Input Bank Name ex: BCA MANDiRI BRI etc.." name="name"
                          value="<%= bank.name %>">
                      </div>
                      <div class="form-group">
                        <label class="text-dark font-weight-bold" for="bankAccountNumber">Bank Account Number</label>
                        <input type="number" class="form-control" id="bankAccountNumber"
                          placeholder="Please Input Bank Account Number " name="bankAccountNumber"
                          value="<%= bank.bankAccountNumber  %>" required>
                      </div>
                      <img src="https://staycation-server-app.herokuapp.com/images/<%=bank.image%>" id="imgPreview" width="200px"
                        class="d-block">
                      <label class="text-dark font-weight-bold mt-2">Bank Image</label>
                      <div class=" custom-file">
                        <input type="file" class="custom-file-input" id="imgInput" name="image"
                          value="<%= bank.image %>">
                        <label class="custom-file-label" for="imgInput">Choose file</label>
                        <small class="text-muted font-weight-light">*file must be an image jpg,jpeg,png and size max
                          1mb</small>
                      </div>
                      <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include ../../partials/footer %>

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->


    <% include ../../partials/end %>