<!-- table -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data Bank</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Bank Name</th>
            <th>Logo</th>
            <th>Bank Account Holder Name</th>
            <th>Bank Account Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Bank Name</th>
            <th>Logo</th>
            <th>Bank Account Holder Name</th>
            <th>Bank Account Number</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <% banks.forEach((bank,i)=> { %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <td>
                <%= bank.name %>
              </td>
              <td>
                <img src='https://staycation-server-app.herokuapp.com/images/<%=bank.image%>' alt="" width="60px">
              </td>
              <td>
                <%= bank.bankAccountName %>
              </td>
              <td>
                <%= bank.bankAccountNumber %>
              </td>

              <td>
                <form action="/bank/<%= bank._id %>?_method=DELETE" method="post">
                  <a href="/bank/<%= bank.id %>" class="btn btn-success btn-sm">Edit</a>
                  <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>